:root {
    --navbar-bg: #1f1f2e;
    --navbar-bg-sel: #322F55;
    --navbar-txt: #fff;
    --navbar-txt-sel: #ffffe6;
}

div.transbox {
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

/* NAV BAR CSS */
.navbar-custom {
    background-color: var(--navbar-bg);
    color: var(--navbar-txt);
    border-radius:0;
    min-height:auto;
    padding-left:50px;
    padding-right:50px;
}

.navbar-custom .navbar-brand {
    font-family: Verdana;
    color: var(--navbar-txt);
    padding-left:0px;
}
.navbar-custom .navbar-nav > li > a {
    color: var(--navbar-txt);
    padding-left:15px;
    padding-right:15px;
}
.navbar-custom .navbar-nav .open .dropdown-menu>li>a,.navbar-custom .navbar-nav .open .dropdown-menu {
    color: var(--navbar-txt);
    background-color: var(--navbar-bg-sel);
}
.navbar-custom .icon-bar {
    border: 1px solid var(--navbar-txt);              
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover{
    color: var(--navbar-txt-sel);
    background-color: var(--navbar-bg-sel);
}
.nav > li > a:focus {
    background-color: var(--navbar-bg);
}
.navbar-custom .navbar-toggle,
.navbar-custom .nav .open>a, .navbar-custom .nav .open>a:hover, .navbar-custom .nav .open>a:focus {
    background-color: var(--navbar-bg);
}

/* TEXT CSS */
body{
    font-family: Verdana;
    background: #f4f4f9;
}
h1{
    font-weight: bold;
    font-size: 25px;
}
h2{
    font-size: 20px;
    text-align: justify;
    text-justify: inter-word;
}
h3{
    font-size: 17px;
    line-height: 24px;
    text-align: justify;
    text-justify: inter-word;	
}
h4{
	font-size: 50px;
    font-family: Verdana;
    font-weight: bold;
    color: white;
}
p, li, ul{
    font-size: 15px;
    text-align: justify;
    text-justify: inter-word;	
}

.text{
    font-family: Verdana;
    width:75%;
    margin:0 auto;
    padding-top:10px;
    padding-bottom:10px;
    background: #ffffff
}

/* EXTRA CSS */
.content {
    position: relative;
    width: 100%;
    height: auto;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
	width: 300px;
    max-width:600px;
}